[user]
 name = Filippo Di Marco
 email = filippo.dimarco@activadigital.it

[includeIf "gitdir:~/personal/"]
  path = ~/.config/git/.gitconfig-personal
[includeIf "gitdir:~/.kube"]
  path = ~/.config/git/.gitconfig-personal
[includeIf "gitdir:~/.password-store"]
  path = ~/.config/git/.gitconfig-personal
[includeIf "gitdir:~/work/"]
  path = ~/.config/git/.gitconfig-work
